$half-padding: 0.6rem;
$quarter-padding: calc(#{$half-padding} / 2);
$default-padding: calc(#{$half-padding} * 2);
$default-radius: 0.4em;
$sp-size: 600px;
$tablet-size: 1000px;
$invert-color: #fff;
$main-color0: #dfdfdf;
$main-color1: #ccc;
$main-color2: #999;
$main-color3: #666;
$main-color4: #333;
$sub-color0: #dfdfdf;
$sub-color1: #ccc;
$sub-color2: #999;
$sub-color3: #666;
$sub-color4: #333;
$background-color-none: #fff;
$background-color0: #dfdfdf;
$background-color1: #ccc;
$background-color2: #999;
$background-color3: #666;
$background-color4: #333;
$error-color: #f35f11;
$error-shadow-color: #fe7f3c;
$shadow-color: #111;
$notable-color: #333;
$z-background: -1000;
