@import 'variables';

.wrapper {
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #aaa;
  z-index: $z-background;

  &_header {
    background: #aaa; /* Old browsers */
    background: linear-gradient(to bottom, #333 0%, #888 70%, #aaa 100%);
    height: 60vh;
  }
}

.body {
  position: relative;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;

  &_inner {
    padding: $half-padding;

    &::before {
      content: '';
      display: block;
      height: 40vh;
      width: 100%;
    }
  }
}

/* ==============
 *  Form
 * ============== */

.form {
  padding: calc(#{$half-padding} + 8px);

  &_body {
    width: calc(90vw - #{$default-padding} - 2 * 8px);
    max-width: 60em;
    padding: $half-padding;
    opacity: 0.6;
    background-color: $background-color0;
    border-radius: 0.2em;
    box-shadow: 0 0 8px 8px rgba($background-color0, 1);
  }

  &_label {
    padding: $half-padding;
    padding-bottom: 0;
    width: 10em;
    font-size: 1.1em;
    font-weight: 600;
  }

  &_control {
    flex: 1;
    padding: $quarter-padding;
    min-width: 16em;

    .form_label {
      padding: $quarter-padding;
      font-size: 1em;
    }

    .form_control {
      padding: 0;
    }
  }

  &_description {
    padding: $quarter-padding;

    ~ .form_subdescription {
      padding-top: 0;
    }
  }

  &_subdescription {
    font-size: 0.9em;
    padding: $quarter-padding;
    color: $notable-color;
  }
}

/* ==============
 *  Form
 * ============== */

.button {
  width: inherit;
  height: inherit;
  padding: 0.4em 0.6em;
  border-radius: 0.3em;
  background-color: $main-color3;
  color: $invert-color;
  cursor: pointer;

  &[disabled] {
    cursor: default;
    background-color: $main-color1;
  }
}

.row-button {
  text-align: right;
  padding: $half-padding;
}
