@import 'variables';

.input {
  width: inherit;
  height: inherit;
  border-radius: 0.3em;
  box-shadow: inset 0 0 5px 0 rgba($background-color3, 0.75);
  padding: 0.4em 0.6em;
  background-color: $background-color-none;

  &[type="number"] {
    text-align: right;
  }
}
