@import 'variables';

.convert {
  &.noPadding {
    &.narrowPadding {
      padding: $narrow-padding;
    }

    &.middlePadding {
      padding: $middle-padding;
    }

    &.fullPadding {
      padding: $half-padding;
    }
  }

  &.narrowPadding {
    &.middlePadding {
      padding: calc(#{$middle-padding} - #{$narrow-padding});
    }

    &.fullPadding {
      padding: calc(#{$half-padding} - #{$narrow-padding});
    }
  }

  &.middlePadding {
    &.fullPadding {
      padding: calc(#{$half-padding} - #{$middle-padding});
    }
  }
}
